.Card-Box {
  position: relative;
  width: 253px;
  margin-bottom: 44px;

  a {
    display: block;
    text-decoration: none;
    color: black;
  }

  img {
    width: 220px;
    height: 330px;
    object-fit: cover;
  }

  .Detail-Box {
    margin-top: 15px;

    .Title {
      font-weight: 900;
      color: $dark_blue;
    }
  }

  .Like-Box {
    top: 288px;
    left: 189px;
    position: absolute;
  }

  .Like-Text {
    color: $white;
    position: absolute;
    top: 310px;
    left: 205px;
  }

  &:hover {
    img {
      box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.45);
    }
  }
}
